@model int
<h2>
  <p class="text-danger">
      The Item with id = @Model cannot be removed !!!
  </p>
</h2>

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
   Return to Shopping
</a>
